@font-face
{
    font-family: "Droid Sans";
    font-style: normal;
    font-weight: bold;
    src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('http://themes.googleusercontent.com/font?kit=EFpQQyG9GqCrobXxL-KRMQJKKGfqHaYFsRG-T3ceEVo') format('truetype');
}
@font-face
{
    font-family: "Droid Sans";
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans'), local('DroidSans'), url('http://themes.googleusercontent.com/font?kit=rS9BT6-asrfjpkcV3DXf__esZW2xOQ-xsNqO47m55DA') format('truetype');
}
@font-face
{
    font-family: Neuton;
    font-style: normal;
    font-weight: normal;
    src: local('Neuton Regular'), local('Neuton'), url('http://themes.googleusercontent.com/font?kit=9R-MGIOQUdjAVeB6nE6PcQ') format('truetype');
}

html, body, form
{
    height: 95%;
}

body
{
    background-color: #efefef;
    font-family: "Droid Sans", Arial;
    font-size: 0.8em;
    text-shadow: 1px 1px #fff !important;
}

a
{
    text-decoration: none;
    color: #333;
}

h1, h2, h3, h4, h5
{
    margin-top: 0px;
    margin-bottom: 10px;
}

a:hover
{
    color: #000;
}

table
{
    border-spacing: 0px;
}

hr
{
    height: 1px;
    background: #dadada;
    border-bottom: 1px solid #fff;
    border: 0px;
    margin-bottom: 10px;
}

label
{
    margin-right: 10px;
}

label.radio > input[type="radio"]
{
    margin-right: 1px;
    margin-left: 0px;
}

.hoveractive tbody tr:nth-child(odd):hover
{
    background: #fcffcc !important;
}

.hoveractive tbody tr:nth-child(even):hover
{
    background: #f9fcc1 !important;
}

.gridview
{
    border: 1px solid #dadada;
    margin-bottom: 10px;
    border-radius: 5px;
}

.gridview thead tr td:first-child
{
    border-radius: 5px 0px 0px 0px;
}

.gridview thead tr td:last-child
{
    border-radius: 0px 5px 0px 0px;
}

.gridview thead tr
{
    background: -moz-linear-gradient(bottom, #dadada, #fafafa);
    background: -webkit-gradient(linear, left bottom, left top, from(#dadada), to(#f2f2f2));
}

.gridview tbody tr:nth-child(odd)
{
    background-color: #fefefe;
}

.gridview tbody tr:nth-child(even)
{
    background-color: #fbfbfb;
}

.gridview thead tr td, .gridview tbody tr td
{
    padding: 5px;
}

.gridview tbody tr td:first-child
{
    border-radius: 0px 0px 0px 5px;
}

.gridview tbody tr td:last-child
{
    border-radius: 0px 0px 5px 0px;
}

.faded
{
    color: #777;
}

.spacer
{
    height: 10px;
}

.copyright
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.9em;
    text-align: center;
    color: #999;
}

.copyright a
{
    color: #666;
    text-decoration: none;
}

.copyright a:hover
{
    color: #222;
}

.login
{
    width: 350px;
    height: 255px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #c0c0c0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    border-color: #c5c5c5;
    padding: 25px;
}

.login .header
{
    background: #efefef;
    color: #7a7a7a;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: -25px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.login label
{
    color: #777;
    display: block;
}

.login .hidden
{
    display: none;
    visibility: visible !important;
}

.login .notice
{
    height: 40px;
    width: 326px;
    margin-left: 0;
    margin-top: -33px;
    padding: 10px;
    line-height: 20px;
}

.login_copyright
{
    width: 100%;
    margin-top: 20px;
    font-size: 0.85em;
    text-align: center;
    color: #999;
    position: inherit;
}

.login_copyright a
{
    color: #666;
    text-decoration: none;
}

.login_copyright a:hover
{
    color: #222;
}

.topbar
{
    height: 30px;
    background: -moz-linear-gradient(bottom, #d7d7d7, #e4e4e4);
    background: -webkit-gradient(linear, left bottom, left top, from(#d7d7d7), to(#e4e4e4));
    border-bottom: 1px solid #c6c6c6;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 0.9em;
    line-height: 30px;
    text-shadow: none;
    z-index: 10000;
}

.topbar a
{
    color: #464646;
    text-decoration: none;
}

.topbar a:hover
{
    color: #000;
}

.login_info
{
    float: right;
    color: #333;
    margin-right: 10px;
    font-size: 1.1em;
}

.sidebar
{
    width: 200px;
    padding: 10px;
    font-size: 1.25em;
}

.nav
{
    padding: 10px;
    display: block;
    margin-left: -10px;
    margin-right: -10px;
    text-decoration: none;
    color: #333;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;

}

.nav_selected
{
    background: #fcfcfc;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.nav_unselected:hover
{
    background: #f6f6f6;
}

.whitebg
{
    background: #fff;
    box-shadow: 0px 0px 15px #c0c0c0;
    border-left: 1px solid #c6c6c6;
    padding: 10px;
}

.title
{
    font-size: 2.1em;
    color: #888;
    text-align: right;
    margin-bottom: 10px;
}

.admin_container
{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 0px;
    padding-top: 30px;
}

.bump
{
    margin-left: 10px;
}

.greybox
{
    background: #f7f7f7;
    border: 1px solid #dadada;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.greybox table tr td:first-child
{
    vertical-align: top;
}

.textbox, .droplist
{
    border: 1px solid #c2c2c2;
    padding: 3px;
    color: #555;
    border-radius: 3px;
    width: 250px;
    max-width: 250px;
}

.textbox:hover, .textbox:active, .droplist:hover, .droplist:active
{
    border: 1px solid #777;
}

.droplist
{
    background: white;
    width: 258px !important;
    max-width: 258px !important;
}

.button
{
    background: -moz-linear-gradient(bottom, #c8c8c8, #fafafa);
    background: -webkit-gradient(linear, left bottom, left top, from(#d7d7d7), to(#f2f2f2));
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    height: 23px;
    color: #333;
    margin: 0px 5px 0px 0px;
}

.button:hover
{
    background: -moz-linear-gradient(bottom, #e5e5e5, #fdfdfd);
    background: -webkit-gradient(linear, left bottom, left top, from(#e5e5e5), to(#f2f2f2));
    border: 1px solid #d1d1d1;
}

.button:active
{
    background: -moz-linear-gradient(bottom, #c9c9c9, #d9d9d9);
    background: -webkit-gradient(linear, left bottom, left top, from(#c9c9c9), to(#d9d9d9));
    border: 1px solid #c9c9c9;
}

.button::-moz-focus-inner
{
    border: 0px;
}

.login .textbox
{
    border: 1px solid #e5e5e5;
    padding: 3px;
    width: 97%;
    max-width: 100%;
    margin-top: 2px;
    margin-bottom: 16px;
    font-size: 24px;
    background: #fbfbfb;
    color: #555;
    border-radius: 0px;
}

.login .textbox:hover, .login .textbox:active
{
    border: 1px solid #c2c2c2;
}

.login .button
{
    width: 80px;
    height: 40px;
}

.select_toggle
{
    font-size: 0.9em;
    cursor: pointer;
    color: #777;
}

.jsalert
{
    color: darkRed;
    font-weight: bold;
    font-size: 1.4em;
    float: left;
    line-height: 35px;
}

.hugefonts
{
    font-size: 6em;
    color: #d0d0d0;
    font-style: italic;
}

.boxed
{
    border: 1px solid #dadada;
    background: #dadada;
}

.error
{
    background-color: #ffebe8;
    border: 1px solid #c00;
    border-radius: 3px;
    padding: 12px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    position: relative;
    top: 35px;
}

.notice
{
    background-color: lightYellow;
    border: 1px solid #e6db55;
    border-radius: 3px;
    padding: 12px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    position: relative;
    top: 35px;
}

#notification
{
    background-color: lightYellow;
    border: 1px solid #e6db55;
    border-radius: 0px 0px 3px 3px;
    padding: 12px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0px;
    z-index: 10001;
}

#notification a:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.fieldinfo
{
    font-size: 0.9em;
    font-style: italic;
}

.topaligned
{
    vertical-align: top;
    padding-top: 10px !important;
}

.centered
{
    text-align: center;
    width: 97%;
    margin-top: 10px;
}

.darkgreen
{
    color: darkGreen;
}

.darkred
{
    color: darkRed;
}

.visible
{
    visibility: visible;
}

.hidden
{
    visibility: hidden;
}

.collapsed
{
    display: none;
}

.leftside
{
    float: left;
}

.rightside
{
    float: right;
}

.nomargin
{
    margin: 0px !important;
}