/*HTML reset*/
/*+clearfix {*/
#main_menu:after, #footer .widgets:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
}
#main_menu, #footer .widgets
{
    display: inline-block;
}
#main_menu, #footer .widgets
{
/*\*/
    display: block;
/**/
    -height: 1px;
}
/*+}*/
HTML
{
    margin: 0;
    padding: 0;
    border: 0;
}
BODY, DIV, SPAN, OBJECT, IFRAME, H1, H2, H3, H4, H5, H6, P, BLOCKQUOTE, PRE, A, ABBR, ACRONYM, ADDRESS, CODE, DEL, DFN, EM, IMG, Q, DL, DT, DD, OL, UL, LI, FIELDSET, FORM, LABEL, LEGEND, TABLE, CAPTION, TBODY, TFOOT, THEAD, TR, TH, TD, ARTICLE, ASIDE, DIALOG, FIGURE, FOOTER, HEADER, HGROUP, NAV, SECTION, .hugetext, .mediumtext
{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    word-wrap: break-word;
}
ARTICLE, ASIDE, DIALOG, FIGURE, FOOTER, HEADER, HGROUP, NAV, SECTION
{
    display: block;
}
BODY
{
    line-height: 1.5;
    background: #FFFFFF;
    overflow-y: scroll;
}
TABLE
{
    border-collapse: separate;
    border-spacing: 0;
}
CAPTION, TH, TD
{
    text-align: left;
    font-weight: normal;
    float: none !important;
}
TABLE, TH, TD
{
    vertical-align: middle;
}
BLOCKQUOTE:before, BLOCKQUOTE:after, Q:before, Q:after
{
    content: '';
}
BLOCKQUOTE, Q
{
    quotes: "" "";
}
A IMG
{
    border: none;
}
:focus
{
    outline: 0;
}
/*Fonts preload*/
@font-face
{
    font-family: "Droid Sans";
    font-style: normal;
    font-weight: bold;
    src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('http://themes.googleusercontent.com/font?kit=EFpQQyG9GqCrobXxL-KRMQJKKGfqHaYFsRG-T3ceEVo') format('truetype');
}
@font-face
{
    font-family: "Droid Sans";
    font-style: normal;
    font-weight: normal;
    src: local('Droid Sans'), local('DroidSans'), url('http://themes.googleusercontent.com/font?kit=rS9BT6-asrfjpkcV3DXf__esZW2xOQ-xsNqO47m55DA') format('truetype');
}
@font-face
{
    font-family: Neuton;
    font-style: normal;
    font-weight: normal;
    src: local('Neuton Regular'), local('Neuton'), url('http://themes.googleusercontent.com/font?kit=9R-MGIOQUdjAVeB6nE6PcQ') format('truetype');
}
/****SETTINGS***
Background !!!Use HTML tag only if needed!!!*/
HTML
{
}
BODY
{
    background: #78A6D8 url('../images/pattern.jpg') repeat scroll bottom right;
}
#wrapper
{
    background-image: url('../images/header.png');
    background-repeat: no-repeat;
    background-position: top center;
}
/*Toolbar [width], [height]*/
#toolbar
{
    width: 95%;
    height: 22px;
}
/*Main page [width]*/
#page
{
    width: 95%;
}
/*Header [height]*/
#header
{
    height: 35px;
}
/*Banner [height]*/
#banner
{
    height: 200px;
}
/*Main menu text settings*/
#main_menu *
{
    font-size: 1em;
    text-transform: uppercase;
}
/*Menu Icons*/
#main_menu LI:before
{
    background-color: #7AC8FF;
}
#main_menu LI:nth-child(1):before
{
    background-color: #57E080;
}
#main_menu LI:nth-child(2):before
{
    background-color: #FFCE63;
}
#main_menu LI:nth-child(3):before
{
    background-color: #FF3257;
}
#main_menu LI:nth-child(4):before
{
    background-color: #808080;
}
#main_menu LI:nth-child(5):before
{
    background-color: #7357E0;
}
#main_menu LI:nth-child(6):before
{
    background-color: #da70de;
}
/****END of SETTINGS SECTION***
--------------------------------------------
Skeleton*/
#wrapper
{
    width: 100%;
}
#toolbar
{
    margin: 0px auto;
}
#page
{
    margin: 30px auto 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #FFF;
    /*+border-radius:4px;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
    /*+box-shadow:0 2px 10px rgba(0, 61, 127, 0.5);*/
    -moz-box-shadow: 0 2px 10px rgba(0, 61, 127, 0.5);
    -webkit-box-shadow: 0 2px 10px rgba(0, 61, 127, 0.5);
    -o-box-shadow: 0 2px 10px rgba(0, 61, 127, 0.5);
    box-shadow: 0 2px 10px rgba(0, 61, 127, 0.5);
}
#header, #banner, #main, #footer
{
    width: auto;
    /*[disabled]padding:10px 40px;*/
}
/*Toolbar*/
#toolbar
{
    margin: 0px auto;
}
#toolbar #location
{
    font-size: 10pt;
    line-height: 2.3;
}
#toolbar #location *
{
    color: #222;
}
#toolbar #location IMG
{
    float: left;
}
/*Header and Main Menu*/
#header
{
    margin: 0px;
    padding: 0px;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
}
/*[clearfix]*/#main_menu
{
    list-style: none;
    margin: 0px 0px 0px 10px;
    padding: 0px;
    position: absolute;
    bottom: 0px;
}
#main_menu LI
{
    float: left;
    padding: 5px 10px;
    margin: 0px 10px;
}
#main_menu LI A
{
    text-decoration: none;
    color: #555;
}
#main_menu LI A:hover
{
    text-decoration: underline;
}
/*Menu *Icons* defined*/
#main_menu LI:before
{
    content: " ";
    margin-top: 3px;
    margin-right: 5px;
    width: 8px;
    height: 1.1em;
    font-size: 10pt;
    line-height: 1.1em;
    display: block;
    float: left;
    /*+border-radius:2px;*/
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px 2px 2px 2px;
}
/*Banner section*/
#banner
{
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}
#banner IMG
{
    margin: 0px !important;
    padding: 0px !important;
}
/*Main part of the page, includes content and sidebar*/
#main
{
    border-top: 0px solid #000000;
    border-bottom: 0px solid #000000;
    margin: 30px 0px;
}
#main .content
{
    width: auto;
    margin-left: 40px;
    margin-right: 40px;
}
#sidebar .widgets
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
}
#sidebar .widgets P
{
    margin: 0px 0px 0px 0.5em;
    padding: 0px;
}
#sidebar .widgets H1, #sidebar .widgets H2, #sidebar .widgets H3, #sidebar .widgets H4, #sidebar .widgets H5, #sidebar .widgets H6
{
    margin: 0.5em 0;
    font-size: 14pt;
}
#sidebar .widget
{
    margin: 0px 0px 1em;
    padding: 10px 15px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #B1C4D7;
    /*+border-radius:4px;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
}
/*Footer of the page with additional widgets*/
#footer
{
    text-align: center;
}
/*[clearfix]*/#footer .widgets
{
    margin: 10px 0px 0px 40px;
    padding: 0px;
    list-style: none;
}
#footer .widget
{
    float: left;
    width: 27.5%;
    margin: 0px 10px;
    padding: 10px 15px;
}
#footer .widgets H1, #footer .widgets H2, #footer .widgets H3, #footer .widgets H4, #footer .widgets H5, #footer .widgets H6
{
    margin: 0.5em 0;
    font-size: 14pt;
}
#footer .widgets P
{
    margin: 0px 0px 0px 0.5em;
    padding: 0px;
}
#footer #copyright
{
    margin: 25px 0px 0px;
    padding: 3px 10px;
    background-color: #FFFFFF;
    color: #41A0FF;
    font-size: 10pt;
}
/*Typography*/
BODY
{
    font-size: 0.9em;
    color: #222;
    font-family: "Droid Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: justify;
}
H1, H2, H3, H4, H5, H6, .hugetext, .mediumtext
{
    font-weight: normal;
    color: #048;
    /*+text-shadow:0 1px 1px #FFFFFF;*/
    -moz-text-shadow: 0 1px 1px #FFFFFF;
    -webkit-text-shadow: 0 1px 1px #FFFFFF;
    -o-text-shadow: 0 1px 1px #FFFFFF;
    text-shadow: 0 1px 1px #FFFFFF;
    text-align: left;
}
H1
{
    font-size: 2.5em;
    line-height: 1;
    margin-bottom: 0.5em;
}
H2
{
    font-size: 2em;
    margin-bottom: 0.75em;
    margin-left: 10px;
}
H3
{
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
    margin-left: 20px;
}
H4
{
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
    margin-left: 25px;
}
H5
{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
    margin-left: 25px;
}
H6
{
    font-size: 1em;
    font-weight: bold;
    margin-left: 25px;
}
H1 IMG, H2 IMG, H3 IMG, H4 IMG, H5 IMG, H6 IMG
{
    margin: 0;
}
P
{
    margin: 0 25px 1.5em;
}
IMG
{
    margin: 5px;
}
.left
{
    float: left !important;
    margin-right: 15px;
}
P .left
{
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}
.right
{
    float: right !important;
    margin-left: 15px;
}
P .right
{
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0;
}
A:focus, A:hover
{
    color: #09F;
    text-decoration: underline;
}
A
{
    color: #06C;
    text-decoration: none;
}
BLOCKQUOTE
{
    margin: 1.5em;
    color: #666;
    font-style: italic;
}
B, STRONG, DFN
{
    font-weight: bold;
    font-family: "Droid Sans Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
EM, DFN
{
    font-style: italic;
}
SUP, SUB
{
    line-height: 0;
}
ABBR, ACRONYM
{
    border-bottom: 1px dotted #666;
}
ADDRESS
{
    margin: 0 0 1.5em;
    font-style: italic;
}
DEL
{
    color: #666;
}
PRE
{
    margin: 1.5em 0;
    white-space: pre;
}
PRE, CODE, TT
{
    font: 1em "andale mono", "lucida console", monospace;
    line-height: 1.5;
}
LI UL, LI OL
{
    margin: 0;
}
UL, OL
{
    margin: 0 1.5em 1.5em 2.5em;
    padding-left: 1.5em;
}
UL
{
    list-style-type: disc;
}
OL
{
    list-style-type: decimal;
}
DL
{
    margin: 0 0 1.5em;
}
DL DT
{
    font-weight: bold;
}
DD
{
    margin-left: 1.5em;
    margin: 0px;
}
HR
{
    width: 100%;
    height: 1px;
    border: 0px solid #000000;
    border-top: 1px solid #B1C4D7;
    background-color: #FFFFFF;
    margin: 30px 0px;
}
/*Tables*/
TABLE
{
    margin-bottom: 1.4em;
    width: 95%;
    padding: 6px;
    background-color: #FFFFFF;
    border: 1px solid #AACCDD;
    /*+border-radius:4px;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
}
TH
{
    font-weight: bold;
    background-color: #004488;
    color: #FFFFFF;
    /*+border-radius:0px 0px 4px 4px;*/
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    -khtml-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;
}
TH:first-child
{
    font-weight: bold;
    background-color: #004488;
    color: #FFFFFF;
    /*+border-radius:4px 0px 4px 4px;*/
    -moz-border-radius: 4px 0px 4px 4px;
    -webkit-border-radius: 4px 0px 4px 4px;
    -khtml-border-radius: 4px 0px 4px 4px;
    border-radius: 4px 0px 4px 4px;
}
TH:last-child
{
    font-weight: bold;
    background-color: #004488;
    color: #FFFFFF;
    /*+border-radius:0px 4px 4px;*/
    -moz-border-radius: 0px 4px 4px;
    -webkit-border-radius: 0px 4px 4px;
    -khtml-border-radius: 0px 4px 4px;
    border-radius: 0px 4px 4px 4px;
}
THEAD TH
{
}
TH, TD, CAPTION
{
    padding: 8px 12px;
}
TR:nth-child(2n+1) TD
{
    background-color: #EBF2F9;
}
TD
{
    /*[disabled]border-bottom:1px dotted #B1C4D7;*/
    border-right: 1px solid #FFFFFF;
}
TD:first-child
{
    /*+border-radius:4px 0 0 4px;*/
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -khtml-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
TD:last-child
{
    /*+border-radius:0 4px 4px 0;*/
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -khtml-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-right: 0px none #000000;
}
TFOOT
{
    font-style: italic;
}
CAPTION
{
    background: #EEE;
}
/*Forms*/
FIELDSET
{
    margin-bottom: 15px;
    padding: 0px 17px 10px 17px;
    border: 1px solid #ACD;
    background-color: #FFF;
    /*+border-radius:4px;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
}
LEGEND
{
    font-weight: bold;
    font-size: 1.2em;
    color: #048;
    /*+text-shadow:0 1px 1px #FFFFFF;*/
    -moz-text-shadow: 0 1px 1px #FFFFFF;
    -webkit-text-shadow: 0 1px 1px #FFFFFF;
    -o-text-shadow: 0 1px 1px #FFFFFF;
    text-shadow: 0 1px 1px #FFFFFF;
    margin: 0px;
    padding: 0px 10px;
}
INPUT[type=text], INPUT[type=password], INPUT.text, INPUT.title, TEXTAREA
{
    background-color: #FFF;
    border: 1px solid #BBB;
    padding: 2px;
}
INPUT[type=text]:focus, INPUT[type=password]:focus, INPUT.text:focus, INPUT.title:focus, TEXTAREA:focus
{
    border-color: #666;
}
SELECT
{
    background-color: #FFF;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
}
SELECT:focus
{
    border-color: #666;
}
INPUT[type=text], INPUT[type=password], INPUT.text, INPUT.title, TEXTAREA
{
    font-family: inherit;
    font-size: 1em;
}
INPUT[type=text], INPUT[type=password], INPUT.text, INPUT.title, TEXTAREA, SELECT
{
    margin: 0.5em 0;
    background-color: #FFFFFF;
    border: 1px solid #ACD;
    /*+border-radius:4px;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px 4px 4px 4px;
}
INPUT[type="button"], INPUT[type="submit"], INPUT[type="reset"], .button
{
    margin: 2px 5px !important;
    text-align: center;
    padding: 4px 15px !important;
    color: inherit;
    background: #E8E7E6;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(232,231,230)),color-stop(1, rgb(244,244,243)));
    background: -moz-linear-gradient(center bottom,rgb(232,231,230) 0%,rgb(244,244,243) 100%);
    /*+box-shadow:0 1px 4px rgba(0, 0, 0, 0.5);*/
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    /*+border-radius:5px;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    font-size: 1em;
    line-height: 1em;
    text-decoration: none;
    font-family: "Droid Sans", inherit;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
}
INPUT[type="button"]:hover, INPUT[type="submit"]:hover, INPUT[type="reset"]:hover, INPUT[type="file"]:hover
{
    /*+box-shadow:0 0px 8px rgba(1, 150, 255, 0.5);*/
    -moz-box-shadow: 0 0px 8px rgba(1, 150, 255, 0.5);
    -webkit-box-shadow: 0 0px 8px rgba(1, 150, 255, 0.5);
    -o-box-shadow: 0 0px 8px rgba(1, 150, 255, 0.5);
    box-shadow: 0 0px 8px rgba(1, 150, 255, 0.5);
}
/*Clearer*/
.clear
{
    clear: both;
}
/*Hacks*/
.hidden
{
    display: none !important;
}
.visible
{
    display: inline !important;
}
.goleft
{
    float: left;
}
.goright
{
    float: right;
}
.gocenter, .gocenter h4
{
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
}
#paste_data
{
    width: 99.5%;
    height: 300px;
}
#paste_button
{
    margin-top: 5px !important;
}
#paste_lang
{
    font-family: monospace;
}
.tiny
{
    height: 5px;
}
.alias_error
{
    color: #b33939;
    font-style: italic;
    display: inline;
}
.fullwidth
{
    position: fixed;
    top: 0px;
    text-align: center;
    width: 100%;
    height: 45px;
    z-index: 10;
}
.message
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    line-height: 35px;
    height: 35px;
    text-shadow: none;
}
.message a, .message a:hover
{
    color: #fff !important;
}
.message_green
{
    background-color: #56915e;
}
.message_red
{
    background-color: #b33939;
}
.toolboxtext
{
    position: absolute;
    margin-left: 30px;
    margin-top: 3px;
    z-index: 100;
}
.page_no
{
    display: inline;
    background: #fdfdfd;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #dadada;
    margin-left: 5px;
    color: #5a5a5a;
}
.page_no:hover
{
    background: #fff;
    border: 1px solid #9a9a9a;
    color: #000;
}
.page_current
{
    border: 1px solid #6e88ab !important;
    background: #3674ae !important;
    color: #fff !important;
    text-shadow: none !important;
}
.page_bottom
{
    margin-top: -5px;
}
.pagination
{
    margin-right: 2px;
}
.pagination a:hover
{
    text-decoration: none;
}
.stretch
{
    width: auto;
}
.codewrap, .codewrap_small
{
    overflow: hidden;
    padding-top: 16px;
    padding-left: 10px;
    background: #fdfdfd;
    border: 1px solid #cacaca;
    font-family: monospace;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left !important;
    word-wrap: break-word;
}
.error
{
    width: 97%;
    text-align: center;
    background-color: #fbf0f2;
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    background-position: center 10px;
    border: 1px solid #bd6565;
    padding: 10px;
    padding-top: 150px;
    font-size: 110%;
    text-shadow: 0px 1px #fff;
    color: #9f2222;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    display: block;
}
.imagefix a img, .imagefix img
{
    margin: 0px;
    vertical-align: -15%;
}
.hugetext
{
    display: inline !important;
    font-size: 1.2em;
}
.mediumtext
{
    margin-top: 10px !important;
}
.mediumtext img
{
    margin: 0px;
    margin-bottom: 6px;
    margin-right: 5px;
}
.smalltext
{
    font-size: 0.8em;
    font-style: italic;
}
.twocolumns
{
    width: 50%;
}
.threecolumns
{
    width: 33%;
}
.nobullets
{
    list-style-type: none;
    margin-left: -20px;
}
.bumpup
{
    vertical-align: 110%;
}
.bumpup_tiny
{
    vertical-align: 32%;
    display: inline;
}
.nomargin
{
    margin: 0px !important;
}
.lessmargin
{
    margin-left: 5px;
}
.topmargin
{
    margin-top: 35px !important;
}
.boldtext
{
    font-size: 1.2em;
}
body
{
    text-shadow: 0px 1px 1px #fff;
}
.codewrap
{
    min-height: 170px;
}
label
{
    cursor: pointer;
}